<div class="flex justify-center items-center w-screen">
    <div #modal></div>
    <div
        class="w-4/5 sm:w-4/5 md:w-1/2 lg:w-1/4 border border-gray-300 shadow-lg transition-shadow hover:shadow-2xl bg-gradient-to-r from-blue-300 to-teal-300 rounded-3xl">
        <div class="p-4 text-center">
            <svg (click)="goBack()" class="cursor-pointer" height="51" viewBox="0 0 512 512" width="51"
                xmlns="http://www.w3.org/2000/svg">
                <polyline points="244 400 100 256 244 112"
                    style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                <line style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"
                    x1="120" x2="412" y1="256" y2="256" />
            </svg>
            <div class="text-center">
                <div class="p-4 text-center">
                    <img width="50" height="50" class="justify-center mx-auto"
                        src="https://upload.wikimedia.org/wikipedia/commons/e/e8/USCO_Logo.png" alt="USCO Logo">
                    <h1 class="text-2xl font-semibold">REGISTRAR CITAS</h1>
                </div>
                <ng-container *ngIf="!isLoading; else loadingTemplate">
                    <!-- Envuelve los controles en un div con la directiva formGroup -->
                    <div [formGroup]="citaForm">
                        <div class="form-group">
                            <label for="medico">Médico</label>
                            <select id="medico" formControlName="medico" class="w-full" required>
                                <option value="" disabled selected>Seleccione</option>
                                <option *ngFor="let medico of medicos" [value]="medico.id">
                                    {{ medico.nombre }} - {{ medico.especialidad }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input type="date" id="fecha" formControlName="fecha" class="w-full" required>
                        </div>
                        <div class="form-group">
                            <label for="hora">Hora</label>
                            <input type="time" id="hora" formControlName="hora" class="w-full mb-1" required>
                        </div>

                        <!-- Cambia el botón para que no sea de tipo "submit" -->
                        <button type="button" (click)="onSubmit()"
                            class="text-center py-2 px-4 bg-[#7158e8] text-white rounded-lg hover:bg-[#8e8be6] disabled:bg-gray-300 disabled:cursor-not-allowed"
                            [disabled]="citaForm.invalid">
                            Agendar Cita
                        </button>
                    </div>
                </ng-container>
                <ng-template #loadingTemplate>
                    <div class="flex flex-col items-center justify-center text-center py-4">
                        <div
                            class="w-10 h-10 border-4 border-gray-300 border-t-4 border-t-teal-300 rounded-full animate-spin mb-2">
                        </div>
                        <p class="text-lg text-gray-600">Cargando datos...</p>
                    </div>
                </ng-template>
                <ng-template #noDataTemplate>
                    <div class="text-center text-gray-600">
                        <p>No hay datos aún.</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>